<footer style="font-family: 'Lato', sans-serif;font-weight: 400;font-style: normal;font-size: 15px;line-height: 1.8;">
    <div class="container-fluid d-none d-sm-block" style="background-color: #7D956A; color: white;padding:20px">
        <a style="color: white; text-decoration:none; margin-right:10px" target="_blank" href="https://www.hunting4connections.com/page/index.php/help/">FAQ</a>
        <a style="color: white; text-decoration:none; margin-right:10px" target="_blank" href="https://www.hunting4connections.com/page/dating-safety-tips/">Dating Safety Tips</a>
        <a style="color: white; text-decoration:none; margin-right:10px" target="_blank" href="https://www.hunting4connections.com/page/index.php/blog/">Blog</a>
        <a style="color: white; text-decoration:none; margin-right:10px" target="_blank" href="https://www.hunting4connections.com/page/index.php/privacy/">Privacy</a>
        <a style="color: white; text-decoration:none; margin-right:10px" target="_blank" href="https://www.hunting4connections.com/page/index.php/terms-of-service/">Terms Of Service</a>
        <a style="color: white; text-decoration:none; margin-right:10px" target="_blank" href="https://www.hunting4connections.com/page/index.php/report-a-bug/">Report a bug</a>
        <a style="color: white; text-decoration:none; margin-right:10px" target="_blank" href="https://www.hunting4connections.com/page/index.php/report-a-spammer/">Report a spammer</a>
        <a style="color: white; text-decoration:none; margin-right:10px" target="_blank" href="https://www.hunting4connections.com/page/index.php/about-us/">About Us</a>
        <a style="color: white; text-decoration:none; margin-right:10px" target="_blank" href="https://www.hunting4connections.com/page/index.php/h4c-contact/">Contact Us</a>
    </div>
    <div class="container-fluid d-block d-sm-none" style="background-color: #7D956A; color: white;padding:20px">
        <div class="row">
            <a style="color: white; text-decoration:none; margin-right:10px" class="col" target="_blank" href="https://www.hunting4connections.com/page/index.php/help/">FAQ</a>
            <a style="color: white; text-decoration:none; margin-right:10px" class="col" target="_blank" href="https://www.hunting4connections.com/page/index.php/report-a-bug/">Report a bug</a>
        </div>
        <div class="row">
            <a style="color: white; text-decoration:none; margin-right:10px" class="col" target="_blank" href="https://www.hunting4connections.com/page/dating-safety-tips/">Dating Safety Tips</a>
            <a style="color: white; text-decoration:none; margin-right:10px" class="col" target="_blank" href="https://www.hunting4connections.com/page/index.php/report-a-spammer/">Report a spammer</a>
        </div>
        <div class="row">
            <a style="color: white; text-decoration:none; margin-right:10px" class="col" target="_blank" href="https://www.hunting4connections.com/page/index.php/blog/">Blog</a>
            <a style="color: white; text-decoration:none; margin-right:10px" class="col" target="_blank" href="https://www.hunting4connections.com/page/index.php/about-us/">About Us</a>
        </div>
        <div class="row">
            <a style="color: white; text-decoration:none; margin-right:10px" class="col" target="_blank" href="https://www.hunting4connections.com/page/index.php/privacy/">Privacy</a>
            <a style="color: white; text-decoration:none; margin-right:10px" class="col" target="_blank" href="https://www.hunting4connections.com/page/index.php/h4c-contact/">Contact Us</a>
        </div>
        <div class="row">
            <a style="color: white; text-decoration:none; margin-right:10px" class="col" target="_blank" href="https://www.hunting4connections.com/page/index.php/terms-of-service/">Terms Of Service</a>
        </div>
    </div>
    <div class="container-fluid" style="background-color: #0751A2; color: white">
        <div class="row" style="padding:20px;">
            <div class="col-12 col-md-8 p-0" style="margin-bottom: 20px;">
                © 2023 Hunting4Connections™ LLC
            </div>
            <div class="col-12 col-md-4 p-0 m-0">
                <a href="https://www.facebook.com/hunting4connections/" target="_blank"><i class="bi bi-facebook m-2" style="color: white; font-size: 20px;"></i></a>
                <a href="https://www.tiktok.com/@hunting4connections" target="_blank"><i class="bi bi-tiktok m-3" style="color: white; font-size: 20px;"></i></a>
                <a href="https://www.instagram.com/hunting4connections/" target="_blank"><i class="bi bi-instagram m-3" style="color: white; font-size: 20px;"></i></a>
            </div>
        </div>
    </div>
</footer>