<section>
    <div class="container">
        <div class="row" style="text-align: center; margin-top: 50px;margin-bottom: 50px;">
            <div class="col-12 mb-5">
                <h2>Why try Hunting 4 Connections?</h2>
                <p style="text-align: justify;">
                    Why not try Hunting4Connections? It's free to sign up and takes under 4 minutes to sign up. A fast track to finding your honey bun or Sugar Plum. Just as Kirsha Finemore and Ronnie Obrien from Maine. They matched on H4C, dated in the great outdoors, fell in love and are now living good life happily together! Since H4C is designed with all outdoor enthusiasts in mind, it's the perfect place to find your person. We match you based on things you both enjoy doing in the outdoors. That means you already know you will have some things in common. Now picking those first fun dates just got easier. No wondering if you'll scare someone off because you enjoy a certain activity. They already know up front. No secrets, No wonders, No worries!<br><br>

                    H4C is free to sign up, you receive free tokens to start talking. Sign up and see if you match with anyone in your area. If you don't, it's okay, it didn't cost you anything to find out and we email you when someone in your area signs up, You know, that person who's a perfect match for you.<br><br>

                    The family who created H4C loves The great outdoors just like you do. They know first hand how important finding the right person can be the key to every happy, healthy relationship. So you can rest assured knowing they have put their heart and soul into helping you find that perfect person sooner than later. They are constantly looking for ways to improve your experience and fast track your way to love.<br><br>

                    Don't waste time, it's your future happiness at stake here. That special someone could be waiting for you on the other side. There's only one way to find out.  Be sure to contact us and let us know when you found that special person! Start making memories of a lifetime today!<br><br>

                    Sending you the happiest, healthiest vibes to start connecting with your AWESOME NEW BEGINNING!
                </p>
            </div>
            <div class="row">
                <div class="col-md-3 col-6 mt-2" style="text-align: center;" *ngFor="let user of users">
                    <div class="row">
                        <div class="col-12">
                            <img [src]="user.photo" class="img-fluid rounded" style="height: 200px;">
                            <p><b>{{ user.user }}, {{ user.age }}</b></p> 
                        </div>
                        <div class="col-12" style="text-align: center">
                            <ng-container *ngFor="let activity of user.activities; let i = index">
                                <button *ngIf="i == 0" type="button" class="btn btn-danger mt-1 ms-1 p-1" style="font-size: 10px;" >{{ activity }}</button>
                                <button *ngIf="i == 1" type="button" class="btn btn-success mt-1 ms-1 p-1" style="font-size: 10px;" >{{ activity }}</button>
                                <button *ngIf="i == 2" type="button" class="btn btn-warning mt-1 ms-1 p-1" style="font-size: 10px;" >{{ activity }}</button>
                            </ng-container>
                        </div>
                        <div class="col-12 mt-2">
                            <a [href]="url_page + user.url" type="button" class="btn btn-outline-danger" style="margin-top: 10px;">Say Hi!</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>